<html>
	<head>
		<title>
		Admisel Notificaciones 
		</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/notificacion/notificacion.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery.timeago.js" type="text/javascript"></script>
	</head>
	<body>


		<div class="container_notify">

			<div class="header">Admisel Notificaciones</div>

			<div class="loader" >

				<br>

				Cargando...
				<br>
				<br>
				
				
				<img src="{{ MEDIA_URL }}img/loader.gif"> </div>

			<div class="str-activity">


			</div>

		</div>

			

		</div>




	</body>
</html>
